# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# emacs temp files
*~
\#*\#

# BEGIN CUSTOM SETTINGS
/python/env/*
!/python/env/pip requirements.txt
!/python/env/manualclassify
/python/env/manualclassify/*
!/python/env/manualclassify/classify
/python/env/manualclassify/classify/__pycache__
/python/env/manualclassify/classify/migrations
python/env/manualclassify/classify/config.py
MATLAB/getDBConnection.m
/python/env/manualclassify/classify/cache
/python/tools/annotations_csv_May2017