<!-- howdy/templates/index.html -->
{% extends 'master.html' %}
{% block 'body' %}
	<div id='MCApplicationToolbox'>
		<div class='MCSelectLabel'><small><b>Select a classification to apply:</b></small></div>
		<select class='MCSelectBox' id='ClassificationApplicationSelection'>
			<option value=''></option>
			<option value='CLEAR'>CLEAR</option>
			{% for label in classification_labels %}
				<option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
			{% endfor %}
		</select>
		<div class='MCSelectLabel'><small><b>Select a tag to apply:</b></small></div>
		<select class='MCSelectBox' id='TagApplicationSelection'>
			<option value=''></option>
			<option value='CLEAR'>CLEAR</option>
			{% for label in tag_labels %}
				<option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
			{% endfor %}
		</select>
		<small><div id='MCNumberAppliedLabel'>0 targets classified</div></small>
		<small><div id='MCNumberTaggedLabel'>0 targets tagged</div></small>
	</div>
{% endblock %}

{% block 'style' %}
#MCApplicationToolbox {
	height: auto;
	width: 200px;
	outline-style: solid;
	outline-color: black;
	outline-width: 2px;
	background-color: #ffffff;
	margin-top: 10px;
}
#MCNumberAppliedLabel {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 3px;
}
#MCNumberTaggedLabel {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-bottom: 3px;
}
{% endblock %}
