<div id='MCApplicationToolbox'>
    <div class='MCSelectLabel'>Select classification to apply:</div>
    <select id="class-apply-select" class="selectpicker" data-container="body" data-live-search="true" data-width="90%">
        <option value=''></option>
        <option value='CLEAR'>CLEAR</option>
        {% for label in classification_labels %}
            {% if label.id >= 0 %}
                <option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
            {% endif %}
        {% endfor %}
    </select>
    <div class='MCSelectLabel'>Select tag(s) to apply:</div>
    <select id="tag-apply-select" class="selectpicker" data-container="body" data-live-search="true" data-selected-text-format="count" multiple data-width="90%">
        <option value='CLEAR'>CLEAR</option>
        {% for label in tag_labels %}
        <option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
        {% endfor %}
    </select>
    <div class="row">
        <div class="col-xs-6">
            <div id='MCNumberAppliedLabel'>0 targets classified</div>
        </div>
        <div class="col-xs-6">
            <div id='MCNumberTaggedLabel'>0 targets tagged</div>
        </div>
    </div>
</div>
