{% extends 'master.html' %}
{% load staticfiles %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/classify.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/filter-toolbox.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/application-toolbox.css' %}"/>
{% endblock %}

{% block 'body' %}
{% csrf_token %}
<div id='MCToolboxContainer'>
  <center><a href='/'>Manual Classify</a>
  </center>
  {% include 'filter-toolbox.html' %}
  {% include 'application-toolbox.html' %}
  <button type='button' id='MCSubmitUpdates' onclick='submitUpdates();'>Save Updates</button>
  <center>
    <p id='MCCurrentBinsLabel'>Currently viewing:</p>
    <div id='MCCurrentBins'>
      <p style='margin-top:0px;margin-bottom:5px;padding:0;'><b>{{ timeseries }}</b></p>
    </div>
    <div id='MCLoading'>
    </div>
  </center>
</div>
<div id='MCTargetContainer'></div>

<script type='text/javascript' src="{% static 'javascript/lib/zip.js' %}"></script>
<!-- Get data first, then load js for this page -->
<!-- Do it all after above positioning / styling -->
<script>
    var timeseries = '{{ timeseries }}'
    var classifications = {{ classifications|safe }}
    var csrf_token_form = "{% csrf_token %}"
    var csrf_token = '{{ csrf_token }}'
    var bins = {{ bins|safe }}
    var user_id = {{ user_id|safe }}
    var username = '{{ username }}'
    var batch_mode = '{{ batchmode }}' == 'True'
    if (batch_mode) {
        var batchsize = {{ batchsize|safe }}
        var shouldImport = '{{ shouldImport }}' == 'True'
        var batchclass = '{{ batchclass }}'
        var batchtag = '{{ batchtag }}'
        if (parseInt(batchclass))
            batchclass = parseInt(batchclass);
        if (parseInt(batchtag))
            batchtag = parseInt(batchtag);
    }
    var classification_labels = {};
    {% for label in classification_labels %}
    classification_labels['{{ label.id }}'] = '{{ label.name }}';
    {% endfor %}
    zip.workerScriptsPath = "{% static 'javascript/lib/' %}";
</script>
<script type='text/javascript' src="{% static 'javascript/utils.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/area-selection.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/hotkeys.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/classify.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/context-menu.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/right-click-menu.js' %}"></script>

{% endblock %}
