{% extends 'master.html' %}
{% load staticfiles %}

{% block 'body' %}
	{% csrf_token %}
	<div id='MCToolboxContainer'>
	  <center><a href='/'>Manual Classify</a>
	  </center>
		{% include 'filter-toolbox.html' %}
		{% include 'application-toolbox.html' %}
		<button type='button' id='MCSubmitUpdates' onclick='submitUpdates();'>Save Updates</button>
		<center>
			<p id='MCCurrentBinsLabel'>Currently viewing:</p>
			<div id='MCCurrentBins'>
				<p style='margin-top:0px;margin-bottom:5px;padding:0;'><b>{{ timeseries }}</b></p>
			</div>
		</center>
	</div>
	<div id='MCTargetContainer'></div>
{% endblock %}

{% block 'style' %}
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#MCToolboxContainer {
	position: fixed;
}
#MCTargetContainer {
	position: absolute;
	top: 7px;
	left: 216px;
}
div.MCTarget {
	outline-style: solid;
	outline-color: black;
	outline-width: 1px;
	background-color: #ffffff;
	margin-right: 4px;
	margin-bottom: 4px;
	display: inline-block;
	position: relative;
}
div.MCNewClassification {
	position: absolute;
	top: 2px;
	left: 2px;
	color: red;
}
div.MCNewTag {
	position: absolute;
	top: 2px;
	right: 2px;
	color: blue;
}
div.MCEndSetMarker {
	height: 20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 4px;
}
div.MCEndSetMarkerInner {
	width: 100%;
	height: 10%;
	background-color: red;
	position: relative;
	top: 45%;
}
#MCSubmitUpdates {
	margin:0 auto;
	margin-top: 10px;
	display: block;
	width: 150px;
	text-align: center;
}
#MCRightClickMenu {
	position: fixed;
	background-color: white;
	outline: solid;
	outline-width: 2px;
}
div.MCDetailEntry {
	width: 100%;
	border-top: 1px solid;
	white-space: nowrap;
	display: inline-block;
}
div.MCDetailEntryPiece {
	display: inline-block;
	border-right: 1px solid;
	text-align: center;
	padding: 2px;
	vertical-align: middle;
}
#MCCurrentBinsLabel {
	margin-top: 10px;
	margin-bottom: 3px;
	width: 100%;
	border-top: black solid 1px;
	padding-top: 5px;
	font-weight: bold;
}
#MCCurrentBins {
	font-size: small;
}
{% endblock %}


{% block 'post' %}
<script type='text/javascript' src="{% static 'javascript/lib/zip.js' %}"></script>
<!-- Get data first, then load js for this page -->
<!-- Do it all after above positioning / styling -->
<script>
	var timeseries = '{{ timeseries }}'
	var classifications = {{ classifications|safe }}
	var csrf_token_form = "{% csrf_token %}"
	var csrf_token = '{{ csrf_token }}'
	var bins = {{ bins|safe }}
	var user_id = {{ user_id|safe }}
	var username = '{{ username }}'
	var batch_mode = '{{ batchmode }}' == 'True'
	if (batch_mode) {
		var batchsize = {{ batchsize|safe }}
		var shouldImport = '{{ shouldImport }}' == 'True'
		var batchclass = '{{ batchclass }}'
		var batchtag = '{{ batchtag }}'
		if (parseInt(batchclass))
			batchclass = parseInt(batchclass);
		if (parseInt(batchtag))
			batchtag = parseInt(batchtag);
	}
	zip.workerScriptsPath = "{% static 'javascript/lib/' %}";
</script>
<script type='text/javascript' src="{% static 'javascript/utils.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/area-selection.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/hotkeys.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/classify.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/context-menu.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/right-click-menu.js' %}"></script>
{% endblock %}
