<div id='MCFilterToolbox'>
    <div class='MCSelectLabel'>Select classification to view:</div>
    <select id="class-select" class="selectpicker" data-container="body" data-live-search="true" data-width="90%">
    {% for label in classification_labels %}
        <option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
    {% endfor %}
    </select>
    <div class='MCSelectLabel'>Select tag(s) to view:</div>
    <select id="tag-select" class="selectpicker" data-container="body" data-live-search="true" data-selected-text-format="count" data-none-selected-text="No Tags" multiple data-width="90%">
        <option value='ANY' selected>ANY</option>
        {% for label in tag_labels %}
            <option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
        {% endfor %}
    </select>
    <div class='MCSelectLabel'>Filter by:</div>
    <select id="filter-select" class="selectpicker" data-container="body" data-width="90%">
        <option value='ANY'>No filter</option>
        <option value='ME'>Top level annotation by me</option>
        <option value='OTHERS'>Top level annotation by someone else</option>
        <option value='PD_DIFFER'>Most powerful annotation differs from most recent</option>
        <option value='PC_DIFFER'>Most powerful annotation differs from classifier</option>
        <option value='PC_AGREE'>Most powerful annotation agrees with classifier</option>
        <option value='NONE'>Not annotated by anyone</option>
    </select>
    <div class='MCSelectLabel'>Set size:</div>
    <div class="row">
        <div class="col-xs-6">
            <input type='number' class="form-control" min='1' value="100" id='MCSetSize'></input></center>
        </div>
        <div class="col-xs-6">
            <div id='MCNumberLoadedLabel'>0 loaded of 0</div>
        </div>
    </div>
</div>
