{% extends 'master.html' %}
{% load staticfiles %}
{% block 'body' %}
		<div id="MCIndexDiv">
			<b>Enter bin manually: </b>
			<br>
			<input type="textarea" id ='MCBinsText' style='margin-top:3px;margin-bottom:3px;';>
			<input type="button" id='MCBinsAddBtn' value="Add">
			<div id='MCRecentBinsDiv'>
				<b>Recent bins viewed:</b><br>
				<select id='MCRecentBinsSelect' size='10'></select>
				<input type='button' id='MCRecentBinsAddBtn' value='Add'>
			</div>
			<div>
				<b>Chosen bins:</b><br>
				<select id='MCBins' size='10'>
					{% for bin in bins %}
						<option value='{{ bin }}'>{{ bin }}</option>
					{% endfor %}
				</select>
				<input type='button' id='MCBinsRemoveBtn' value='Remove'>
			</div>
			<div>
				<b>Chosen Timeseries:</b><br>
				<select id='MCTimeSeries'>
					{% for timeseries in timeseries_list %}
						<option value='{{ timeseries }}'>{{ timeseries }}</option>
					{% endfor %}
				</select>
			</div>
			<div>
				<b><label for="MCBatchMode">Batch mode:</label></b>
				<input type="checkbox" id="MCBatchMode">
			</div>
			<div id='MCBatchModeOptions' style='display:none;line-height:25px;'>
				<p style='display:table-row;'>
					<label for='MCBatchSize' class='MCBatchOption'><b>Batch size:</b></label>
					<input type='number' min='1' name='MCBatchSize' id='MCBatchSize'></input>
				</p>
				<p style='display:table-row'>
					<label for='MCBatchStart' style='display:table-cell;padding-right:5px;'><b>Start date:</b></label>
					<input id='MCBatchStart' type='date'>
				</p>
				<p style='display:table-row'>
					<label for='MCBatchEnd' style='display:table-cell;padding-right:5px;'><b>End date:</b></label>
					<input id='MCBatchEnd' type='date'>
				</p>
				<p style='display:table-row'>
					<label for='MCBatchClass' style='display:table-cell;padding-right:5px;'><b>Class:</b></label>
					<select id='MCBatchClass' style='display:table-cell'>
						{% for label in classification_labels %}
							<option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
						{% endfor %}
					</select>
				</p>
				<p style='display:table-row'>
					<label for='MCBatchTag' style='display:table-cell;padding-right:5px;'><b>Tag:</b></label>
					<select id='MCBatchTag' style='display:table-cell'>
						<option value='ALL'>ALL</option>
						<option value='NONE'>NONE</option>
						{% for label in tag_labels %}
							<option value='{{ label.id }}'>{{ label.name }} ({{ label.id }})</option>
						{% endfor %}
					</select>
				</p>
			</div>
			<input type='button' id='MCBinsSubmit' value='Begin Classifying Raw'>
			<br>
			<input type='button' id='MCBinsSubmitAndImport' value='Begin Classifying and Import Auto Data'>
		</div>
		<div id='MCLinks'>
			You are signed in as: <b>{{ username }}</b>
			<br>
			<a href='/logout/'>Logout</a>
			<br>
			<a href='/admin/'>Admin</a>
		</div>

<script>
	var csrf_token_form = "{% csrf_token %}"
	var csrf_token = '{{ csrf_token }}'
	var failed = '{{ failed }}'
</script>
<script type='text/javascript' src="{% static 'javascript/utils.js' %}"></script>
<script type='text/javascript' src="{% static 'javascript/index.js' %}"></script>
{% endblock %}

{% block 'style' %}
#MCRecentBinsSelect {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 358px;
}
#MCBinsText {
	width: 358px;
	margin-left: 5px;
}
#MCBins {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 358px;
}
#MCRecentBinsAddBtn {
	position: relative;
	top: -8px;
}
#MCBinsRemoveBtn {
	position: relative;
	top: -8px;
}
#MCTimeSeries {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 358px;
}
#MCLinks {
	margin: 0;
	float: right;
	text-align: right;
}
#MCBinsSubmit {
	margin-top: 5px;
	margin-bottom: 5px;
}
#MCIndexDiv {
	display: inline-block;
}
label.MCBatchOption {
	display: table-cell;
	padding-right: 5px;
}
#MCBatchSize {
	width: 70px;
	display: table-cell;
}
{% endblock %}
