<!-- howdy/templates/index.html -->
{% extends 'master.html' %}
{% block 'body' %}
<div id='MCLoginDiv'>
			<center>
				<h1 id='MCLoginHeader'>Manual Classify Login</h1>
				<form id="MCLoginForm" action="/login/" method="post">
					{% csrf_token %}
					<p>
						<label for="MCLoginUsername">Username:</label>
						<input id="MCLoginUsername" type="text" name="username">
					</p>
					<p>
						<label for="MCLoginPassword">Password:</label>
						<input id="MCLoginPassword" type="password" name="password">
					</p>
				</form>
				<p>
					<button id="MCLoginSubmit" onclick="submitForm()">Login</button>
				</p>
				<p>
					<a href='/register/'>Need an account?</a>
				</p>
			</center>
		</div>

<script>
	var old = document.getElementById('MCLoginFailure');
	if (old)
		old.outerHTML = '';
	if ('{{ failed }}' == 'True') {
		showError('Invalid username or password');
	}
	if ('{{ needs_approval }}' == 'True') {
		showError('This account needs to be enabled by an administrator, please email epeacock@whoi.edu');
	}
	function showError(text) {
		var failure = document.createElement('div')
		failure.id = 'MCLoginFailure'
		var center = document.getElementById('MCLoginDiv').children[0];
		failure.innerHTML = text;
		failure.style.color = 'red';
		center.insertBefore(failure, center.children[1]);
	}
	function submitForm() {
		document.getElementById("MCLoginForm").submit();
	}
</script>
{% endblock %}

{% block 'style' %}
form {
	display: table;
	line-height: 30px;
}
p {
	display: table-row;
}
label {
	display: table-cell;
	text-align: right;
}
input {
	display: table-cell;
}
#MCLoginSubmit {
	margin-top: 10px;
	margin-bottom: 10px;
}
#MCLoginDiv {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
#MCLoginHeader {
	margin-bottom: 5px;
}
{% endblock %}

