{% extends 'master.html' %}

{% block 'body' %}
<div class='MCTarget' id='MCTarget_{{ pid }}'>
  <small><a class='MCSeeFullSize' target='_black' href='{{ web_services_path }}{{ pid }}.png'>See full size</a></small>
  <img id='MCImg_{{ pid }}' src='{{ web_services_path }}{{ pid }}.png'></img>
</div>

<script>
	var target = document.getElementById('MCTarget_{{ pid }}');
	target.style.visibility = 'hidden';
	var img = document.getElementById('MCImg_{{ pid }}');
	img.onload = function() {
		target.style.width = img.naturalWidth + 'px';
		target.style.visibility = 'visible';
	}
</script>
{% endblock %}

{% block 'style' %}
div.MCTarget {
	outline-style: solid;
	outline-color: black;
	outline-width: 1px;
	background-color: #ffffff
}
a.MCSeeFullSize {
	position: absolute;
	right: 4px;
	top: 2px;
}
{% endblock %}
